@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.jumbotron {
    height: 350px;
    background-image: url("../public/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    h1 {
        font-family: 'Dancing Script', cursive;
    }
    p {
        @import url('https://fonts.googleapis.com/css?family=Lato:300');
        font-family: 'Lato', sans-serif;
        text-shadow: 0px 0px 3px;
        color: #f0f8ff;
    }
}

.blue-tabs {
    li>a {
        color: #3498DB;
    }

    li.active {
        font-weight: bold;
    }
}

.item-list {
    li {
        list-style-type: none;
    }

    // hr {
    //     margin-bottom: 10px;
    // }
    a {
        color: inherit;
    }

    .item {
        ul {
            margin: 20px;
            padding: 0px;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 0px;
        }

        img {
            width: 100%;
        }

        .title {
            font-size: 2em;
            font-weight: bold;
            hr {
                margin-top: 0px;
                margin-bottom: 10px;
            }
        }

        .well {
            margin-bottom: 0px;
        }
    }

    .item:hover {
        background-color: #EDF9FF;
    }
}


footer {
    padding: 0px 0px;
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #2c3e50;
    .copyright {
        height: inherit;
        line-height: 70px;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
}
